<div class="chat-panel card card-default">
  <div class="card-header">
    <i class="fa fa-comments fa-fw"></i>
    Yorumlar
  </div>
  <!-- /.panel-heading -->
  <div class="card-body">
    <ul class="chat">
      <li class="left clearfix">
        <div class="chat-body clearfix">
          <div class="header">
            <strong class="primary-font">Salih Güngör</strong>
            <small class="pull-right text-muted">
              <i class="fa fa-clock-o fa-fw"></i> 22.04.2018
            </small>
          </div>
          <p>
            Bu sistemi çok beğendim.
          </p>
        </div>
      </li>
      <hr>
    </ul>
  </div>
  <!-- /.card-body -->
  <div class="card-footer">
    <div class="input-group">
      <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
      <span class="input-group-btn">
                <button class="btn btn-warning btn-sm" id="btn-chat">
                    Send
                </button>
      </span>
    </div>
  </div>
  <!-- /.card-footer -->
</div>
