    <div class="content">
        <div class="content_resize">
             {{!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> --}}
            <div class="mainbar">
                {{#each makaleler}}
                    <div class="article">
                        <h2>{{baslik}}</h2>
                        <div class="clr"></div>
                        <p> {{tarih}} | Posted by Salih | {{adi}}</p>
                        <p>{{icerik}}</p>
                        <p class="spec"><a href="/makaleOku/{{makaleid}}" class="rm">Devamnı oku &raquo;</a> </p>
                    </div> 
                {{/each}}
                <p class="pages"><small>Page 1 of 2 &nbsp;&nbsp;&nbsp;</small> <span>1</span> <a href="#">2</a> <a href="#">&raquo;</a></p>
            </div>
            <div class="sidebar">
                <div class="gadget">
                    <h2 class="star">En Yeni Makaleler</h2>
                    <div class="clr"></div>
                    <ul class="sb_menu">
                        {{#each freshes}}
                            <li><a href="/fresh/{{makaleid}}">{{baslik}}</a></li>
                        {{/each}}
                    </ul>
                </div>
                <div class="gadget">
                    <h2 class="star">Kategoriler</h2>
                    <div class="clr"></div>
                    <ul class="ex_menu">
                        {{#each kategoriler}}
                            <li><a href="/makale/{{kategoriid}}">{{adi}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="clr"></div>
        </div>
    </div>


