<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/makale.css' />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <script type="text/javascript" src="/public/javascripts/makale.js"></script>
  </head>
  <body>
      <div class="main">
          <div class="header">
              <div class="header_resize">
                  <div class="logo" style="float:left;">
                      <h1><a href="/">myArticle</a></h1>
                  </div>
                  <div class="menu_nav" style="float:right;">
                      <ul>
                          <li><a href="/">Anasayfa</a></li>
                          <li><a href="/makaleYaz">Makale Yaz</a></li>
                          {{#if user}}
                            <li><a href="/users/logout">Logout</a></li>
                          {{else}}
                            <li><a href="/users/register">Kayıt Ol</a></li>
                            <li><a href="/users/login">Login</a></li>
                          {{/if}}
                      </ul>
                  </div>
                  <div class="clr"></div>
              </div>
          </div>
          <div class="row">
            {{#if success_msg}}
                <div class="alert alert-success">{{success_msg}}</div>
            {{/if}}

            {{#if error_msg}}
                <div class="alert alert-danger">{{error_msg}}</div>
            {{/if}}

            {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
            {{/if}}
          </div>        
      </div>
      {{{body}}}
      <div class="footer col-md-12">
          <div class="footer_resize">
              <p class="lf">Copyright &copy; 2017 - All Rights Reserved</p>
              <p class="rf">Design by Salih</a></p>
              <div class="clr"></div>
          </div>
      </div>
  </body>
</html>



