        <div class="container col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
            <br />
            <form action="/users/login" method="post">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1></h1>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user" style="width: auto"></i>
                            </span>
                            <input type="text" class="form-control" name="username" placeholder="Username" required="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock" style="width: auto"></i>
                            </span>
                            <input type="password" class="form-control" name="password" placeholder="Password" required="" />
                        </div>
                    </div>
                    <input type="submit" value="Login" class="btn btn-default" style="width: 100%">
                </div>
            </div>
            </form>
        </div>