<div class="container">
    <div class="row col-md-12">
        <br>
        <div class="makaleOku">  
            {{#each makale}}
                <h3>{{baslik}}</h3>
                <hr>
                <div>
                    {{icerik}}
                </div>
                <form action="/makaleSil" method="post">
                    <input type="hidden" value="{{makaleid}}" name="makaleid">
                    <input type="submit" value="Sil" class="btn btn-danger" style="float:right;">
                </form>
            {{/each}}
        </div>
    </div>
    <div class="row col-md-12" style="margin-top:-150px;">
        <div>
            <h3>Yorumlar</h3>
        </div>
        <br>
        <div class="makaleOku">  
            {{#each yorumlar}}
            <p> {{tarih}} </p>
            <h4> <b> Salih </b> </h4>
                <div style="margin-left:10px;"> 
                    {{icerik}}
                </div>
                <hr>
            {{/each}}
        </div>
    </div>
    <div class="row col-md-12" style="margin-top:-150px;">
        <div>
            <h3>Yorum yaz</h3>
        </div>
        <br>
        <div class="form-area" style="margin-left:0px;">  
            <form action="/yorumYap" method="post">
                <br style="clear:both">
                <br>
                        <div class="form-group">
                            <input type="text" class="form-control" id="baslik" name="baslik" placeholder="Başlık" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" type="textarea" id="icerik" name="icerik" placeholder="İçerik" maxlength="140" rows="7"></textarea>
                        </div>
                        {{#each makale}}
                            <input type="hidden" name="makaleid" value="{{makaleid}}">
                        {{/each}}
{{!--                         {{#each kullanici}}
                            <input type="hidden" name="makaleid" value="{{kullaniciid}}">
                        {{/each}} --}}
                        <input type="hidden" name="kullaniciid">
                <input type="submit" value="Yayınla" name="btnYayinla" id="btnYayinla" class="btn btn-primary pull-right">
            </form>
        </div>
    </div>
</div>
