<div class="container">
<div class="col-md-10">
    <div class="form-area">  
        <form action="/makaleYaz" method="post"
        <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Makale Yaz</h3>
    				<div class="form-group">
						<input type="text" class="form-control" id="baslik" name="baslik" placeholder="Başlık" required>
					</div>
                    <div class="form-group">
                        <select class="form-control" name="kategori" id="kategori">
                                {{#each kategoriler}}
                                    <option value="{{kategoriid}}">{{adi}}</option>
                                {{/each}}
                        </select>
					</div>
					<div class="form-group">
                        <select class="form-control" name="dil" id="dil">
                                {{#each diller}}
                                    <option value="{{dilid}}">{{adi}}</option>
                                {{/each}}
                        </select>
					</div>
                    <div class="form-group">
                        <textarea class="form-control" type="textarea" id="icerik" name="icerik" placeholder="İçerik" maxlength="140" rows="7"></textarea>
                    </div>
            <input type="submit" value="Yayınla" name="btnYayinla" id="btnYayinla" class="btn btn-primary pull-right">
        </form>
    </div>
</div>
</div>