        <div class="container col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
            <br />
            <form action="/users/register" method="post">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1></h1>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user" style="width: auto"></i>
                            </span>
                            <input id="name" runat="server" type="text" class="form-control" name="name" placeholder="Name" required="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user" style="width: auto"></i>
                            </span>
                            <input id="surName" runat="server" type="text" class="form-control" name="surName" placeholder="Surname" required="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user" style="width: auto"></i>
                            </span>
                            <input id="userName" runat="server" type="text" class="form-control" name="userName" placeholder="User name" required="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user" style="width: auto"></i>
                            </span>
                            <select class="form-control" name="rol" id="rol">
                                {{#each rols}}
                                    <option value="{{rolId}}">{{adi}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user" style="width: auto"></i>
                            </span>
                            <select class="form-control" name="meslek" id="meslek">
                                {{#each meslekler}}
                                    <option value="{{meslekid}}">{{meslek}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user" style="width: auto"></i>
                            </span>
                            <select class="form-control" name="cinsiyet" id="cinsiyet">
                                {{#each cinsiyetler}}
                                    <option value="{{cinsiyetid}}">{{adi}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user" style="width: auto"></i>
                            </span>
                            <select class="form-control" name="uyruk" id="uyruk">
                                {{#each uyruklar}}
                                    <option value="{{uyrukid}}">{{adi}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user" style="width: auto"></i>
                            </span>
                            <select class="form-control" name="sehir" id="sehir">
                                {{#each sehirler}}
                                    <option value="{{ilid}}">{{adi}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock" style="width: auto"></i>
                            </span>
                            <input id="password" runat="server" type="password" class="form-control" name="password" placeholder="Password" required="" />
                        </div>
                    </div>
                    <input type="submit" value="Register" id="btnRegister" class="btn btn-default" style="width: 100%" runat="server">
                </div>
            </div>
            </form>
        </div>