<li >
  <div class="timeline-badge"><i class="fa fa-check"></i>
  </div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4 class="timeline-title">{{randevu.username}}</h4>
      <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{randevu.date}} </small>
      </p>
    </div>
    <div class="timeline-body">
      <p>{{randevu.explanation}}</p>
    </div>
  </div>
</li>
<li *ngIf="randevu.counter%2==1" class="timeline-inverted">
  <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
  </div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4 class="timeline-title">Lorem ipsum dolor</h4>
    </div>
    <div class="timeline-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem quibusdam, tenetur commodi provident cumque magni voluptatem libero, quis rerum. Fugiat esse debitis optio, tempore. Animi officiis alias, officia repellendus.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium maiores odit qui est tempora eos, nostrum provident explicabo dignissimos debitis vel! Adipisci eius voluptates, ad aut recusandae minus eaque facere.</p>
    </div>
  </div>
</li>