<div [@routerTransition]>
  <app-page-header [heading]="'Randevu Al'" [icon]="'fa-bar-chart-o'"></app-page-header>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card mb-3">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div class="card-header">Randevu</div>
          <div class="card-body">
            <div class="form-group" *ngIf="!isLoggedIn()">
              <label for="isim">İsim: </label>
              <input type="text" id="isim" class="form-control" formControlName="name">
            </div>
            <div class="form-group" *ngIf="!isLoggedIn()">
              <label for="telefon">Telefon No: </label>
              <input type="text" id="telefon" class="form-control" formControlName="phoneNumber">
            </div>
            <div class="form-group">
              <label for="saat">Saat: </label>
              <input type="text" id="saat" class="form-control" formControlName="hour">
            </div>
            <div class="form-group">
              <label for="tarih">Tarih: </label>
              <input type="text" id="tarih" class="form-control" formControlName="date">
            </div>
            <div class="form-group">
              <label for="aciklama">Açıklama: </label>
              <textarea type="textarea" rows="10" id="aciklama" class="form-control" formControlName="explanation"></textarea>
              <!--<input type="text" id="aciklama" class="form-control" formControlName="explanation">-->
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-info btn-sm" type="submit" >Kaydet</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
