<!--<div [@routerTransition]>
  <app-page-header [heading]="'Randevu Al'" [icon]="'fa-bar-chart-o'"></app-page-header>-->
<h2>İletişim</h2>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card mb-3">
        <form>
          <div class="card-header">İletişim</div>
          <div class="card-body">
            <div class="form-group">
              <label for="isim">İsim: </label>
              <input type="text" id="isim" class="form-control">
            </div>
            <div class="form-group">
              <label for="telefon">Telefon No: </label>
              <input type="text" id="telefon" class="form-control">
            </div>
            <div class="form-group">
              <label for="aciklama">Açıklama: </label>
              <textarea type="textarea" rows="10" id="aciklama" class="form-control"></textarea>
              <!--<input type="text" id="aciklama" class="form-control" formControlName="explanation">-->
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-info btn-sm" type="submit" >Gönder</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
<!--</div>-->
