.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px 180px;
	border: 1px solid GREY;
}
.makaleOku
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin-bottom: 200px;
	border: 1px solid GREY;
}
	