@charset "utf-8";
body {
  margin:0;
  padding:0;
  width:100%;
  color:#959595;
  font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
html, .main {
  padding:0;
  margin:0;
}
.main {
  background:#f3f1f1 url(../images/header_bg.jpg) repeat-x center 11px;
}
.clr {
  clear:both;
  padding:0;
  margin:0;
  width:100%;
  font-size:0;
  line-height:0;
}
.logo {
  padding:0;
  float:left;
  width:auto;
}
h1 {
  margin:0;
  padding:40px 0;
  float:left;
  color:#fff;
  font:bold 52px/1.2em Arial, Helvetica, sans-serif;
  letter-spacing:-3px;
}
h1 span {
  font-weight:normal;
}
h1 a, h1 a:hover {
  color:#fff;
  text-decoration:none;
}
h1 small {
  display:block;
  margin-top:-6px;
  padding:0 6px 2px 104px;
  font:normal 12px/1.2em Arial, Helvetica, sans-serif;
  letter-spacing:normal;
}
h2 {
  font:normal 24px/1.5em Arial, Helvetica, sans-serif;
  padding:16px 0 8px;
  margin:0 0 8px;
  color:#323a3f;
}
p {
  margin:8px 0;
  padding:0 0 8px 0;
  font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
p.spec {
  margin:0 -22px;
  padding:14px 22px;
  text-align:left;
  border-top:1px solid #dfdede;
  background:url(../images/spec_bg.gif) repeat-x center top;
}
a {
  color:#5db166;
  text-decoration:underline;
}
a.rm {
}
a.com {
  margin:0;
  padding:0;
  text-decoration:none;
  float:right;
}
a.com span {
  padding:2px 4px;
  color:#fff;
  background-color:#5db166;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
  margin:0;
  padding:0;
}
.header {
  background-color: #c0c0c0;
}
.header_resize {
  margin:auto;
  width:974px;
}
.menu_nav {
  margin:0;
  padding:52px 40px 0 0;
  float:right;
  height:29px;
}
.menu_nav ul {
  list-style:none;
  height:29px;
}
.menu_nav ul li {
  margin:0 12px 0 0;
  padding:0;
  float:left;
}
.menu_nav ul li a {
  display:block;
  margin:0;
  padding:4px 20px;
  color:#fff;
  text-decoration:none;
  font-size:12px;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
  background-color:#68ca74;
}
.content_resize {
  margin:auto;
  padding:16px 0 24px;
  width:970px;
}
.content .mainbar {
  margin:0;
  padding:0;
  float:left;
  width:670px;
}
.content .mainbar img {
  border:1px solid #d8dbdc;
}
.content .mainbar img.fl {
  margin:4px 16px 4px 0;
  float:left;
}
.content .mainbar .article {
  margin:0 0 12px;
  padding:8px 24px 0;
}
.content .sidebar {
  padding:0;
  float:right;
  width:288px;
}
.content .sidebar .gadget {
  margin:0 0 12px;
  padding:8px 16px 8px 24px;
}
ul.sb_menu, ul.ex_menu {
  margin:0;
  padding:0;
  list-style:none;
  color:#959595;
}
ul.sb_menu li, ul.ex_menu li {
  margin:0;
}
ul.sb_menu li {
  padding:4px 0;
  width:220px;
}
ul.ex_menu li {
  padding:4px 0;
}
ul.sb_menu li a, ul.ex_menu li a {
  color:#959595;
  text-decoration:none;
  margin-left:-12px;
  padding-left:12px;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
  color:#5db166;
  font-weight:bold;
}
ul.sb_menu li a:hover {
  text-decoration:underline;
}
ul.ex_menu li a:hover {
  text-decoration:none;
}
.content p.pages {
  padding:32px 24px 12px;
  font-size:11px;
  color:#959595;
  text-align:right;
}
.content p.pages span, .content p.pages a:hover {
  padding:5px 10px;
  color:#fff;
  background-color:#5db166;
  border:1px solid #5db166;
}
.content p.pages a {
  padding:5px 10px;
  color:#959595;
  background-color:#fff;
  border:1px solid #edebeb;
  text-decoration:none;
}
.content p.pages small {
  font-size:11px;
  float:left;
}
.content .mainbar .article, .content .sidebar .gadget, .fbg_resize {
  background-color:#fff;
  border:1px solid #dfdede;
}
.content .mainbar .comment {
  margin:0;
  padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
  border:1px solid #dedede;
  margin:10px 16px 0 0;
  padding:0;
  float:left;
}
.fbg {
  background:repeat center center;
}
.fbg_resize {
  margin:0 auto;
  width:890px;
  padding:24px 40px;
  background:repeat-x center top;
}
.fbg ul li {
  padding:4px 0;
}
.fbg .c2 a, .fbg .c3 a {
  margin:0;
  padding:2px 4px;
  color:#5db166;
  text-decoration:none;
}
.fbg ul li a {
  margin:0;
  padding:2px 4px;
  background:none;
  text-decoration:none;
}
.fbg ul li a:hover {
  text-decoration:underline;
  font-weight:normal;
}
.fbg h2 {
}
.fbg img {
  margin:0 4px 0 0;
  padding:3px;
  border:1px solid #78b2cb;
}
.fbg .col {
  margin:0;
  float:left;
}
.fbg .c1 {
  padding:0 16px 0 0;
  width:266px;
}
.fbg .c2 {
  padding:0 16px;
  width:300px;
}
.fbg .c3 {
  padding:0 0 0 16px;
  width:260px;
}
.footer {
}
.footer_resize {
  margin:0 auto;
  padding:26px;
  width:922px;
}
.footer p {
  margin:0;
  padding:4px 0;
  line-height:normal;
}
.footer a {
  color:#959595;
  padding:inherit;
  text-decoration:underline;
}
.footer a:hover {
  text-decoration:none;
}
.footer .lf {
  float:left;
}
.footer .rf {
  float:right;
}
ol {
  list-style:none;
}
ol li {
  display:block;
  clear:both;
}
ol li label {
  display:block;
  margin:0;
  padding:16px 0 0 0;
}
ol li input.text {
  width:480px;
  border:1px solid #c0c0c0;
  margin:2px 0;
  padding:5px 2px;
  height:16px;
  background:#fff;
}
ol li textarea {
  width:480px;
  border:1px solid #c0c0c0;
  margin:2px 0;
  padding:2px;
  background:#fff;
}
ol li .send {
  margin:16px 0 0 0;
}
.searchform {
  float:right;
}
#formsearch {
  margin:0;
  height:36px;
  padding:10px 28px 40px 0;
}
#formsearch span {
  display:block;
  margin:6px 0;
  padding:0;
  float:left;
  background:#fff url(../images/search.gif) no-repeat top left;
}
#formsearch input.editbox_search {
  margin:0;
  padding:11px 6px 10px;
  float:left;
  width:181px;
  border:none;
  background:none;
  font:normal 12px/1.5em Arial, Helvetica, sans-serif;
  color:#a8acb2;
}
#formsearch input.button_search {
  margin:6px 0 0 0;
  padding:0;
  border:none;
  float:left;
}



/**********************************************/
/* *{
  margin:0;
  padding:0;
}

#page{
  width: auto;
  margin: 0px;
}

#searchForm{
  background-color: #c0c0c0;
  padding:50px 50px 30px;
  margin:10px 0;
  position:relative;
  -moz-border-radius:16px;
  -webkit-border-radius:16px;
  border-radius:16px;
}

fieldset{
  border:none;
}

#s{
  border:none;
  color:#888888;
  background:url("../img/searchBox.png") no-repeat;

  float:left;
  font-family:Arial,Helvetica,sans-serif;
  font-size:15px;
  height:36px;
  line-height:36px;
  margin-right:12px;
  outline:medium none;
  padding:0 0 0 35px;
  text-shadow:1px 1px 0 white;
  width:385px;
}

#submitButton{
  background:url('../img/buttons.png') no-repeat;
  width:83px;
  height:36px;
  text-indent:-9999px;
  overflow:hidden;
  text-transform:uppercase;
  border:none;
  cursor:pointer;
}
 */