<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Tennis</title>
    <link href="/dist/styles.e672a989678e62d0c44d.bundle.css" rel="stylesheet"/>
</head>
<body>
  <app-root>
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </app-root>
<script src="/js/app/bundle.js"></script>
</body>
</html>
