<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="/src/images/logo.png" width="150px" />
            <h1> Tennis Club </h1>
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" placeholder="First Name" formControlName="firstName">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" placeholder="Last Name" formControlName="lastName">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" placeholder="Email" formControlName="email">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" placeholder="Phone Number" formControlName="phoneNumber">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" placeholder="Password" formControlName="password">
                    </div>
                </div>
                <button class="btn rounded-btn" type="submit" [disabled]="!myForm.valid"> Register </button>
                <hr>
                <!--<a class="btn rounded-btn" [routerLink]="['/dashboard']"> Register </a>&nbsp;-->
                <a [routerLink]="['/auth/signin']"> Log in </a> |
                <a [routerLink]="['/']"> Home </a>
            </form>
        </div>
    </div>
</div>
