:host {
    display: block;
}

.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: #222;
    text-align: center;
    color: #fff;
    padding: 3em;
}
.login-page .col-lg-4 {
    padding: 0;
}
.login-page .input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0;
}
.login-page .input-underline {
    background: 0 0;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    border-radius: 0;
}
.login-page .input-underline:focus {
    border-bottom: 2px solid #fff;
    box-shadow: none;
}
.login-page .rounded-btn {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: rgba(255, 255, 255, 0.8);
    background: #222;
    border: 2px solid rgba(255, 255, 255, 0.8);
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
}
.login-page .rounded-btn:hover,
.login-page .rounded-btn:focus,
.login-page .rounded-btn:active,
.login-page .rounded-btn:visited {
    color: white;
    border: 2px solid white;
    outline: none;
}
.login-page h1 {
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
}
.login-page h1 small {
    color: rgba(255, 255, 255, 0.7);
}
.login-page .form-group {
    padding: 8px 0;
}
.login-page .form-group input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6) !important;
}
.login-page .form-group input:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.6) !important;
}
.login-page .form-group input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.6) !important;
}
.login-page .form-group input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6) !important;
}
.login-page .form-content {
    padding: 40px 0;
}
.login-page .user-avatar {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
}