<div class="card-body">
    <ul class="timeline" *ngFor="let randevu of randevular;">
        <li *ngIf="randevu.counter%2==0">
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{randevu.username}}</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{randevu.date}} </small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>{{randevu.explanation}}</p>
                </div>
            </div>
        </li>
        <li *ngIf="randevu.counter%2==1" class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{randevu.username}}</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{randevu.date}} </small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>{{randevu.explanation}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>
